@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: normal;
	src: local('Akrobat Regular'), url('/fonts/Akrobat-Regular.otf') format('otf');
}
@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: bold;
	src: local('Akrobat Bold'), url('/fonts/Akrobat-Bold.otf') format('otf');
}
@font-face {
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 900;
	src: local('Akrobat ExtraBold'), url('/fonts/Akrobat-ExtraBold.otf') format('otf');
}

body {
    min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
    font-size: 100%;
    text-align: center;
    background: #1C1D25;
	color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("./background.jpg");
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Akrobat', Arial, sans-serif;
	font-display: swap;
	font-weight: 800 !important;
}

img {
    max-width: 100%;
}

.logo {
    width: 30%;
    margin-top: 5em;
    margin-bottom: 6em;
}

.heading {
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    margin: 0;
}

.description {
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#mc_embed_signup_scroll{
    margin-top: 8em !important;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

#newsletter-label {
    font-size: 1.5rem;
}

#mce-EMAIL {
    border-radius: 5rem !important;
    border: none !important;
    padding: 0 !important;
    padding-left: 0.5rem !important;
    width: 18rem !important;
    height: 2rem !important;
    position: relative !important;
    left: 0.5rem !important;
    background-color: rgb(43, 39, 39) !important;
    color: white !important;
}

#mc-embedded-subscribe {
    color: white !important;
    background-color: #F94E1F !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0 1.25rem !important;
    position: relative !important;
    z-index: 2 !important;
    border-radius: 0rem 5rem 5rem 0rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    height: 2rem !important;
    line-height: 2rem !important;
}